.footer {
  padding: 20px;
  padding-bottom: 0;
  display: flex;
  justify-content: space-between;
  height: 75px;
}

.breadcrumbs {
  > * {
    margin-right: 20px
  }

  .workshop {
    text-decoration: underline;
  }
}

.buttons {
  display: flex;
  // prevent buttons from taking up 100% of the space
  align-items: flex-start;
  // move them down a little
  margin-top: 5px;
  .button {
    margin-right: 20px;
  }
}
