@import './fixes.styl'
@import './defs.styl'

@import url('https://fonts.googleapis.com/css?family=Comfortaa:400,700|Karla:400')
// not sure why the .. is needed but otherwise it doesn't work
@import '../styles/fantasque/stylesheet.css'

body, html {
  height: 100%;
}

body, button, input {
  font-family: fonts.body;
  font-size: font-sizes[2];
  color: black;
}

button {
  cursor: pointer;
}

h1, h2, h3, h4, h5, h6,
h1 *, h2 *, h3 *, h4 *, h5 *, h6 *,
.h1, .h2, .h3, .h4, .h5, .h6,
.h1 *, .h2 *, .h3 *, .h4 *, .h5 *, .h6 *, {
  font-family: fonts.heading;
}

h1, .h1 {
  font-size: font-sizes[0];
  margin-top: 50px;
}

h2, .h2 {
  font-size: font-sizes[1];
  margin-top: 40px;
}

p, h3, .h3 {
  font-size: font-sizes[2];
  margin-top: 10px;
}

.no-margin {
  margin-top: 0;
}

code {
  font-family: fonts.code;
  font-size: font-sizes[2] - 1;
  padding: 2px;
  background: #EEEEEE;
  border-radius: 5px;
}
pre code {
  display: block;
  padding: 10px;
}

.marked {
  > * {
    margin-bottom: 20px;
  }
}

button-properties() {
  padding: 3px 10px;
  font-family: fonts.heading;
  font-weight: bold;
}

.input {
  standard-border()
  padding: 5px;
  width: 300px;
  display: block;
}

.button {
  +tile('button', palette.light-green) {
    button-properties()
  }
}

.link {
  color: palette.purple;
  text-decoration: underline;
}

.tile {
  +tile('tile', palette.light-green) {
    padding: 20px;
  }
}

.tile-light {
  light-border()
}

.button-2 {
  cursor: pointer;
  button-properties()
  font-weight: bold;

  &.active {
    color: colors.accent-1;
  }
}

.accent-1 {
  color: colors.accent-1;
}
.accent-2 {
  color: colors.accent-2;
}
.accent-3 {
  color: colors.accent-3;
}

.underline {
  text-decoration: underline;
}

.bold {
  font-weight: bold;
}

.empty {
  height: 0;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.error {
  color: colors.warning !important;
}

.inline-error {
  color: colors.warning !important;
  position: relative;
  &::after {
    content: "";
    width: 100%;
    height: 3px;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    background: colors.warning;
  }
}

/* Slider resets https://css-tricks.com/styling-cross-browser-compatible-range-inputs-css/ */

input[type=range] {
  -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
  width: 100%; /* Specific width is required for Firefox. */
  background: transparent; /* Otherwise white in Chrome */
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
}

input[type=range]:focus {
  outline: none; /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
}

input[type=range]::-ms-track {
  width: 100%;
  cursor: pointer;

  /* Hides the slider so custom styles can be added */
  background: transparent;
  border-color: transparent;
  color: transparent;
}


input[type=range] {
  thumb() {
    standard-border()
    background: colors.accent-1;
    width: 30px;
    height: 30px;
    border-radius: 50px;
    margin-top: -13px;
  }
  track() {
    height: 10px;
    cursor: pointer;
    standard-border()
    background: colors.shadow;
  }

  &::-webkit-slider-thumb {
    thumb()
  }
  &::-moz-range-thumb {
    thumb()
  }
  &::-ms-thumb {
    thumb()
  }

  &::-webkit-slider-runnable-track {
    track()
  }
  &::-moz-range-track {
    track()
    height: 5px;
  }
  &::-ms-track {
    track()
  }
}

.full {
  height: 100%;
}

.standard-layout {
  standard-layout()
}
.standard-border {
  standard-border()
}


.sortable-drag {
}
.sortable-ghost {
  opacity: .5;
}

.CodeMirror {
  font-family: fonts.body;
  .cm-comment {
    font-family: fonts.code;
  }
}
