@import '~@/styles/fixes.styl'
@import '~@/styles/defs.styl'

* {
 font-family: fonts.body;
}

h1, h2, h3, h4, h5, h6,
h1 *, h2 *, h3 *, h4 *, h5 *, h6 * {
  font-family: fonts.heading;
}

h1, .h1 {
  font-size: font-sizes[0];
}

h2, .h2 {
  font-size: font-sizes[1];
}

p, h3, .h3 {
  font-size: font-sizes[2];
}

.button {
  button(palette.light-green);
}

.tile {
  tile('tile', white)
}

.accent-1 {
  color: colors.accent-1;
}
.accent-2 {
  color: colors.accent-2;
}
.accent-3 {
  color: colors.accent-3;
}

.underline {
  text-decoration: underline;
}

.bold {
  font-emphasis: bold;
}

.empty {
  height: 0;
}
