@import './fixes.scss';

@import url('https://fonts.googleapis.com/css?family=Comfortaa:400,700|Karla:400');
@import './fantasque/stylesheet.css';

$line-height-base: 1.2;

$font-size-base: 1.4rem;
$h1-font-size: 5rem;
$h2-font-size: 3rem;
$h3-font-size: 2.8rem;
$h4-font-size: 2.5rem;
$spacers: (
  6: 5rem,
  7: 10rem,
);

$sizes: (
  60: 60%,
);

$colors: (
  purple: #AE5CFF,
  blue: #3976D0,
  orange: #FF8A00,
  green: #1CB893,
  light-purple: #E2C5FF,
  light-green: #9AFFB8,
  light-blue: #C0D9FF,
  light-orange: #FFEAD1,
  light-red: #FF9B9B,
  grey: #C4C4C4,
  grey-light: #E5E5E5,
  grey-lighter: #F7F7F7,
);
$link-color: map_get($colors, purple);
$font-family-base: Karla;
$font-family-monospace: Fantasque;
$headings-font-family: Comfortaa;

@import './defs.scss';

@import "node_modules/bootstrap/scss/bootstrap-grid";
@import "node_modules/bootstrap/scss/bootstrap-reboot";
@import "node_modules/bootstrap/scss/type";
@import "node_modules/bootstrap/scss/utilities";

@each $color, $value in $colors {
  .text-#{$color} {
    color: map_get($colors, $color);
  }
}
@each $color, $value in $colors {
  .bg-#{$color} {
    background: map_get($colors, $color);
  }
}

.full {
  height: 100%;
}

.underline {
  text-decoration: underline;
}

@include media-breakpoint-down(md) {
  .container {
    max-width: 100%;
  }
}

.no-margin {
  margin-top: 0;
}

code {
  background: #EEEEEE;
  border-radius: 5px;
}
pre code {
  display: block;
  padding: 10px;
}

.marked {
  > * {
    margin-bottom: 20px;
  }
}

@mixin button-properties {
  padding: 3px 10px;
  font-family: $headings-font-family;
  font-weight: bold;
}

.input {
  @include standard-border;
  padding: 5px;
  width: 300px;
  display: block;
  margin-bottom: 0.5rem;
}

.button {
  display: inline-block;
  @include tile('button') {
    @include button-properties;
    background: map_get($colors, light-green)
  }
}

.tile {
  @include tile('tile') {
    padding: 20px;
  }
}

.tile-light {
  @include light-border;
}

.error {
  color: map_get($colors, orange)
}
